__pycache__/
*.py[cod]
.env
*.db
.pytest_cache/
venv/
env/
.vscode/
.idea/
cloudflared.exe
*.exe
static/uploads/avatars/*
!static/uploads/avatars/.gitkeep
static/uploads/orders/*
!static/uploads/orders/.gitkeep